@media only screen and (max-width: 900px){
    /* Debut styles accueil */
    
    /* Hauteur ligne */
    .trait1{
        margin-top: -55%;
        height: 255px;
    }
    .trait2{
        margin-top: -55%;
        height: 150px;
    }
    /* Icons reseau sociaux  */
    .icon-fixe{
        position: fixed;
        margin-top: 4%;
        margin-left: 2.5%;
    }
    .icon-fixe ul{
        list-style: none;
    }


             /* Styles pour les footer */
    
    /* debut styles pied page */
    
    footer{
        height: 40vh;
    }
    
    /*  */
    
    .espace{
        letter-spacing: 150px;
    }
    
    
    /* Styles sur icones réseaux sociaux */
    .foot{
        width: 68%;
        margin-left: -4px;
        margin-top: -2%;
        justify-content: space-between;
    }
    .foot{
        grid-template-columns: 32% 68%;
    }
    .grid-pied{
        width: 100%;
        grid-template-rows: 45% 25%;
    }
    .rs{
        height: 15%;
    }
    
    .rs:nth-of-type(1){
        text-align: center;
        width: 100%;
        margin-left: -4%;
        background: gold;
    }
    
    .pied-contenu p{
        font-size: 22px;
    }

    /* ------------------------Styles icon réseaux sociaux ------------------------ */
    .foot-item{
        width: 61%;
        height:auto;
        text-align: center;
        margin-top: 25%;
    }
    .foot-icon img{
        width: 10%;
        height: auto;
        text-align: center;
        padding-left: 0%;
        
    }
    
    /* Fin styles footer */
    
/* Styles pour les écrans grande taille */
    
    
    /* Hauteur ligne */
    .trait1{
        margin-top: -55%;
        height: 245px;
    }
    .trait2{
        margin-top: -55%;
        height: 135px;
    }
    /* Icons reseau sociaux  */
    .icon-fixe{
        position: fixed;
        margin-top: 15%;
        margin-left: 3.2%;
    }
    .icon-fixe ul{
        list-style: none;
    }


    .accueil-contenu{
        display: grid;
        grid-template-columns: 45% 45%;
        margin-left: 20%;
    }
    /* Fin style ligne */



    /* *********Styles menu et logo entete du page ************ */
    .wakanda{
        justify-content: center;
    }
    .logo-gauche{
        width: 2%;
    }
    .logo-gauche img{
        height: 15px;
        margin-top: 10%;
    }
    /* ---------------------------------------------------------------*/
    .menu-droite ul{
        margin-left: 10px;
        margin-top: 8%;
    }
    .menu-droite h2{
        font-size: 5px;
    }

    nav{
        margin-left: 10%;
    }


    /* --------------------------------------------------------------- */
    /* fin gauche */
    
    /* Ceci est un style du logo droite */

    .grid-accueil:nth-of-type(1){
        margin-top: 20%;
    }

    #texte{
        width: 160%;
        margin-top: 10%;
        text-align: justify;
    }
    
    h1, h2{
        color: #9E91B7;
    }
    
    h1{
        font-family: 'panthera';
        font-size: 20px;
    }
    p{
        font-family:'Cantarell Regular';
        color: white;
    }
    #intro{
        width: max-content;
        margin-top:-3.2%;
        margin-left: -10%;
    }
    
    .image img{
        width: 130%;
        height: 100vh;
    }
    .intro{
        position: absolute;
        width: 60%;
        padding-left: 20%;
        margin-top: -35%;
    }
   
    .texte-intro{
        width: 52%;
    }
    .texte-intro p{
        font-family:'Cantarell Regular';
        font-size: 12px;
        text-align: justify;
    }
    
    .fond{
        background-image: url('../Illustrations_logos/Wakanda/Pantherwakanda2.png');
        background-size: 65%;
        background-repeat: no-repeat;
        background-position-x: center;
        margin-top: -5%;
    }
    
    .container{
        display: grid;
        grid-template-columns: 50% 50%;
        padding-top: 10%;
        margin: 0 10%;
    }

    /* debut sur advi */

    #heros{
        width: 80%;
        margin: 0 auto;
    }

    .heros-accueil{
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        flex-wrap: wrap;
        height: auto;
    }

    /* ce stylepour image */
    
    .item .advis{
        width: 100%;
        margin-top: 20%;
        margin-left: 0;
    }

    .ht{
        width: 4px;
    }
    .item{
        width: 70%;
    }

    .item h2{
        font-size: 22px;
    }

    /* ------------------------------------Styles accueil texte----- */
    .chala{
        display: flex;
        flex-wrap: wrap;
        margin-left: 0%;
        width: 80%;
    }
    
    .chala .chala-texte{
        width:80%;
    }

    .media-texte{
        width: 65%;
    }

    
    .chala-texte img{
        width: 100%;
        margin-top: -30%;
    }

    /* Styles sur le biographie */

    .blog{
        width: 90%;
        height: 100%;
        display: grid;
        background: #ffffff;
        margin-left: 5%;
        margin-top: 25%;
        border-radius: 10px;
    }

    .biographie{
        align-content: center;
        width: 100%;
        margin: 0 auto;
        padding-left: 5%;
        padding-top: 95%;
        padding-right: 5%;
        margin-top: -75%;
    }

    /* Styles sur profils T'chala */
    .biographie img{
        position: relative;
        margin-top: -40%;
        width: 80%;
        height: 220%;
        margin-left: 5%;
    }
    .biographie h3{
        text-align: center;
    }

    .img-rond{
        margin-top:25%;
        margin-left: 25%;
        width: 90%;
    }
    
    .img-rond img{
        width: 100%;
    }            
        
    
        /* Blog.chala-texte gauche */
    
    
    .biographie h3{
        font-size: 165%;
        margin-top: 15%;
    }
    
    #btn-bio{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin-left: 0%;
    }
    
    #btn-bio p{
        font-size: 10px;
        text-align: center;
    }
    .btn-bio{
        width: 25%;
        margin:0 auto;
        margin-top: 2px;
        padding: 2%;
        border-radius: 5px;
        text-align: center;
    
    }
    
    /* Styles texte sur biographie */
    
    #bio p{
        font-size: 10px;
    }

    .text h2{
        font-size: 34px;
    }

    
    /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!---------------------------------------!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
    
     /* *********Styles menu et logo entete du page ************ */
     .wakanda{
        justify-content: center;
    }
    .logo-gauche{
        width: 25%;
    }
    .logo-gauche img{
        height: 15px;
        margin-top: 10%;
    }
    /* ---------------------------------------------------------------*/
    .menu-droite ul{
        margin-left: -10px;
        margin-top: 8%;
    }
    .menu-droite h2{
        font-size: 15px;
    }
    
    nav{
        margin-left: -10%;
    }
    
        /* ---------------------------------------------------------------------------------------------------------------------- */
    
    /* Pour wakanda */
    #intro{
        width: 110%;
        background-position: 80%;
        height: 33vh;
    }
    .intro{
        position: absolute;
        width: 60%;
        padding-left: 10%;
        margin-top: 20%;
        z-index: 15;
    }
    .intro h1{
        font-size: 20px;
    }
    .intro h2{
        font-family: 'wakandaForever regular';
        font-size: 5px;
        margin-top: 3%;
    }
    .texte-intro{
        width: 100%;
        margin-top: 5%;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        padding-top: 10%;
        margin: 0 10%;
    }
    
    .texte{
        width: 100%;
        height: auto;
    }

    /* ----------------Style sur formulaire---------- */

    /* ----------------Arrière plan formulaire--------------------- */
#forme{
    background-image: url('../Illustrations_logos/Accueil/Pantherhome7.png');
    width: 100%;
    background-size: cover;
    height: 100vh;
    margin-top: 15%;
}

/* -------------------- Reduire taille contenue formulaire ------------------------*/
    
#forme .donner-perso{
        height: 75vh;
        border-radius: 30px;
        margin-top: 50%;
    }

    .donner-perso form{
        top: 3%;
        width: 70%;
    }
    
    .donner-perso form input{
        height: 35px;
    }

    .btn-afficher{
        top: 90%;
        padding: 5px 10px;
        cursor: pointer;
        width: 30%;
        height: 6%;
    }

    .btn1 label{
        font-size: 15px;
        text-align: center;
    }


    /* --------------pop up-------------- */

    .container1{
        border-radius: 30px;
        margin-top: 30%;
        height: 75vh;
    }

    /* Fin styles wakanda */
    
    
    /* Styles pou la page  engime */
    
    .defi{
        width: 100%;
    }
    
    .defi h2{
        font-size: 32px;
    }
    
    .engime-intro2 img{
        width: 200%;
        margin-left: -95%;
        margin-top: 45%;
    }
    
    .texte-defi{
        position: absolute;
        margin-top: -88%;
        margin-left: -45%;
        width: 100%;
    }
    
    .alpha:nth-of-type(1){
        width: 100%;
        height: 20vh;
    }
    
    .alpha:nth-of-type(2){
        margin-top: 5%;
        width: 100%;
    }
    
    .alpha img{
        width: 105%;
        margin-left: -2%;
    }
    
    .alpha-texte{
        width: 50%;
        margin-left: 15%;
        margin-top: -34%;
    }
    
    .alpha-texte p{
        text-align: justify;
    }
    
    .reponse{
        height: 30vh;
        width: 45%;
        margin: 0 auto;
        margin-top: 50%;
    }
    
    .reponse input{
        width: 90%;
        height: 35px;
        margin: 0 auto;
    }
    
    
    .btn{
        margin-top: 5%;
        margin-left: 30%;
        width: 40%;
        height: 5vh;
        border-radius: 20px;
    }
    .citation-engime{
        margin-top: 50%;
        width: 80%;
    }
    
    .citation-engime h2{
        font-size: 32px;
    }
    /* Texte sur ovale en premier */
    
    .texte-defi p{
        font-size: 70%;
        text-align: center;
        font-family:'Cantarell Regular';
    }
    
    /* Petite ligne horizontale sur engime */
    .ligne-hori{
        width: 180%;
        height: 2px;
        margin-top: -15%;
        background: #9E91B7;
        margin-left: -85%;
    }
    
    #grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 30vh;
        width: 76%;
        margin: 0 auto;
    }
    
    /* Fin styles page engime */
    
    /* Styles pour les footer */
    
    /* debut styles pied page */
    
    footer{
        height: 40vh;
    }
    
    /*  */
    
    .espace{
        letter-spacing: 80px;
    }
    
    /* Styles sur icones réseaux sociaux */
    .foot{
        width: 58%;
        margin-left: -4px;
        margin-top: -2%;
        justify-content: space-between;
    }
    .foot{
        grid-template-columns: 30% 70%;
    }
    .grid-pied{
        width: 100%;
        grid-template-rows: 45% 25%;
    }
    .rs{
        height: 15%;
    }
    
    .rs:nth-of-type(2){
        text-align: center;
        margin-top: 20%;
        width: 100%;
        margin-left: 45%;
    }
    
    .foot-item p, .rs p{
        font-size: 20px;
    }
    .pied-contenu p{
        font-size: 10px;
    }
    
    /* Fin styles footer */
    
        
    }

/* Styles de l'ecran max 600px*/

@media only screen and (min-width:361px) and  (max-width:600px){
    nav{
        width: 70%;
        margin: 0 auto;
        margin-left: 15%;
        margin-right: 0%;
    }
    .menu-droite ul li{
        margin-left: 1.5%;
        padding: 2% 0 10% 0%;
    }

    .logo-gauche{
        width: 35%;
    }
/* Styles sur accueil */
    /* Hauteur ligne */
    .trait1{
    margin-top: -280%;
    height: 245px;
    }
    .trait2{
        margin-top: -280%;
        height: 135px;
    }
    /* Icons reseau sociaux  */
    .icon-fixe{
        position: fixed;
        margin-top: 20%;
        margin-left: 3.8%;
    }

    .heros-accueil{
        display: flex;
    }


    .heros-protecteur{
        margin-top: 45%;
        background: goldenrod;
    }


    /* ----------------------Accueil-------------------- */

    .chevron-next{
        right: 50%;
        margin-top: -50%;
    }


     /* Styles des formulaires a remplir */

    /* 0001 */
/* ppppppppppppppppppppppppppppppppppppppppppppppppppppszd */
    /* Pour wakanda */
    #intro{
        width: 110%;
        background-position: 65%;
        height: 35vh;
    }
    .intro{
        width: 40%;
        padding-left: 20%;
        margin-top: 15%;
    }
    .intro h1{
        font-size: 20px;
    }
    .intro h2{
        font-family: 'wakandaForever regular';
        font-size: 15px;
        margin-top: 2%;
    }
    .texte-intro{
        width: 132%;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        padding-top: 10%;
        margin: 0 10%;
    }

    .texte{
        width: 100%;
        height: auto;
    }


    .donner-perso{
        position: absolute;
        margin-top: 50%;
        height: 65vh;
        border-radius: 30px;
    }

    .donner-perso form{
        top: 6%;
        width: 70%;
    }
    
    .donner-perso form input{
        height: 30px;
    }
    .btn-afficher{
        top: 90%;
        padding: 5px 10px;
        cursor: pointer;
        width: 30%;
        height: 6%;
    }

    .btn1 label{
        font-size: 15px;
        text-align: center;
    }


    /* --------------pop up-------------- */

    .container1{
        border-radius: 30px;
        margin-top: 50%;
        height: 65vh;
    }

    /* Fin styles wakanda */



    /* Styles sur engine */

    /* Styles pou la page  engime */

    .defi{
        width: 91%;
    }

    .defi h2{
        font-size: 95%;
    }

    .engime-intro2 img{
        width: 200%;
        margin-left: -95%;
        margin-top: 45%;
    }

    .texte-defi{
        position: absolute;
        margin-top: -88%;
        margin-left: -60%;
        width: 120%;
        border-radius: 15%;
    }
    .texte-defi p{
        font-size: 50%;
        text-align: justify;
        font-family:'Cantarell Regular';
    }

    .alpha:nth-of-type(1){
        width: 100%;
        height: 20vh;
    }

    .alpha:nth-of-type(2){
        margin-top: 5%;
        width: 100%;
    }

    .alpha img{
        width: 105%;
        margin-left: -2%;
        margin-top: 35%;
    }

    .alpha-texte{
        width: 60%;
        margin-left: 20%;
        margin-top: -46%;
    }

    .alpha-texte p{
        text-align: justify;
        font-size: 55%;
    }

    .reponse{
        height: 30vh;
        width: 45%;
        margin: 0 auto;
        margin-top: 90%;
    }

    .reponse input{
        width: 90%;
        height: 35px;
        margin: 0 auto;
    }


    .btn{
        margin-top: 5%;
        margin-left: 30%;
        width: 50%;
        height: 5vh;
        border-radius: 20px;
    }
    .citation-engime{
        margin-top: 50%;
        width: 80%;
    }

    .citation-engime h2{
        font-size: 25px;
    }

    .ligne-hori{
        width: 180%;
        height: 2px;
        margin-top: -15%;
        background: #9E91B7;
        margin-left: -85%;
    }

    #grid{
        display: flex;
        flex-wrap: wrap;
        margin-left: 8%;
        justify-content: space-between;
        margin-right: 15%;
        height: 20vh;
        width: 80%;
        margin-top: 0%;
    }

    /* Fin styles page engime */

     /* debut styles pied page */

     footer{
        height: 28vh;
        width: 100%;
    }
    .foot{
        width: 100%;
        /* margin-left: -4px; */
        margin-top: -25%;
    }
    .foot{
        grid-template-columns: 30% 80%;
    }

    .pied-page{
        display: grid;
        grid-template-columns: 35% 75%;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 5%;
        
    }
    .pied img{
        width: 30%;
        margin-top: 20%;
        margin-left: 52%;
    }
    .pied-contenu{
        padding: 5px;
        margin: 0 auto;
        width: 70%;
        margin-left: 8%;
        margin-right: 0%;
    }
    .grid-pied{
        width: 75%;
        grid-template-rows: 45% 25%;
    }
    .rs{
        height: 15%;
    }
    
    .rs:nth-of-type(2){
        margin-top: 25%;
        width: 100%;
        margin-left: -45%;
    }
    .espace{
        letter-spacing: 43px;
    }
    .pied-contenu p{
        font-size: 6px;
    }

    /* icon réseaux sociaux */
    .foot-icon{
        width: 40%;
        margin-left: 0%;
        margin-top: 5%;
        background: darkorange;
    }
    .foot-icon img{
        width: 40%;
        height: auto;
        text-align: center;
        
    }
}

/* Styles pour l'écrans dont la largeur est inférieur ou égale à 360pixels */
/* Styles pour les écrans de petite taille en mode paysage */

@media only screen and (max-width:360px){
    nav{
        width: 70%;
        margin: 0 auto;
        margin-left: 15%;
        margin-right: 0%;
    }
    .menu-droite ul li{
        margin-left: 1.5%;
        padding: 2% 0 10% 0%;
    }

    .logo-gauche{
        width: 35%;
    }
/* Styles sur accueil */
    /* Hauteur ligne */
    .trait1{
    margin-top: -280%;
    height: 245px;
    }
    .trait2{
        margin-top: -280%;
        height: 135px;
    }
    /* Icons reseau sociaux  */
    .icon-fixe{
        position: fixed;
        margin-top: 20%;
        margin-left: 3.8%;
    }

    .heros-accueil{
        display: flex;
    }

    .chala-texte h2{
        font-size: 120%;
    }

    .heros-protecteur{
        margin-top: 45%;
    }


     /* Styles des formulaires a remplir */

    /* 0001 */

    
    .donner-perso .text{
        width: 100%;
        margin-top: 8%;
        text-align: center;
    }
    
    .donner-perso form{
        width: 100%;
        margin: 0 auto;
        text-align: center !important;
    }
    
    .donner-perso form input{
        width: 80%;
        height: 5vh;
        padding-left: 25px;
        border-radius: 50px;
        outline: none;
        background: none;
        border: 2px solid rgba(0, 0, 0, 0.479);
    } */
    
    .btn-afficher, .btn-afficher1{
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 38px;
    }
    .btn-afficher{
        background: #f2cef2;
        top: 90%;
        padding: 10px 20px;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        text-transform: uppercase;
    }
    
    .btn-afficher:hover{
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
    
    
    label{
        width: 100px;
        height: 30px;
    }
    .text h2{
        color: black;
        font-size: 164%;
        font-family:'Cantarell Regular';
    }
    
    .donner input{
        padding-left: 10px;
    }
    
    input[type="checkbox"]{
        display: none;
    }
    
    .donner:nth-of-type(3) input{
        padding-bottom: 16%;
    }
    
    /* ------------------------------------ Style sur pop up -------------------------------- */
    
    .btn-afficher1{
        background: #fff;
        padding: 10px 20px;
        top: 70%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
    }
    
    
    .container1{
        border-radius: 50px;
        margin-top: 22%;
    }
    
    .container1{
        width: 75%;
        height: 85%;
        margin-top: 90%;
    }
    
    .container1 .text{
        font-size: 15px;
    }
    

    
    
    /*-----------------------------------------------fin style formulire ----------------------------------- */

    /* Pour wakanda */
    #intro{
        width: 110%;
        background-position: 65%;
        height: 38vh;
    }
    .intro{
        position: absolute;
        width: 60%;
        padding-left: 20%;
        margin-top: 15%;
        z-index: 15;
    }
    .intro h1{
        font-size: 20px;
    }
    .intro h2{
        font-family: 'wakandaForever regular';
        font-size: 15px;
        margin-top: 2%;
    }
    .texte-intro{
        width: 132%;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        padding-top: 10%;
        margin: 0 10%;
    }

    .texte{
        width: 100%;
        height: auto;
    }

    /* Fin styles wakanda */



    /* Styles sur engine */

    /* Styles pou la page  engime */

    .defi{
        width: 91%;
    }

    .defi h2{
        font-size: 95%;
    }

    .engime-intro2 img{
        width: 200%;
        margin-left: -95%;
        margin-top: 45%;
    }

    .texte-defi{
        position: absolute;
        margin-top: -88%;
        margin-left: -60%;
        width: 120%;
        border-radius: 15%;
    }
    .texte-defi p{
        font-size: 40%;
        text-align: justify;
        font-family:'Cantarell Regular';
    }

    .alpha:nth-of-type(1){
        width: 100%;
        height: 20vh;
    }

    .alpha:nth-of-type(2){
        margin-top: 5%;
        width: 100%;
    }

    .alpha img{
        width: 105%;
        margin-left: -2%;
        margin-top: 35%;
    }

    .alpha-texte{
        width: 60%;
        margin-left: 20%;
        margin-top: -46%;
    }

    .alpha-texte p{
        text-align: justify;
        font-size: 45%;
    }

    .reponse{
        height: 30vh;
        width: 45%;
        margin: 0 auto;
        margin-top: 90%;
    }

    .reponse input{
        width: 90%;
        height: 35px;
        margin: 0 auto;
    }


    .btn{
        margin-top: 5%;
        margin-left: 30%;
        width: 50%;
        height: 5vh;
        border-radius: 20px;
    }
    .citation-engime{
        margin-top: 50%;
        width: 80%;
    }

    .citation-engime h2{
        font-size: 25px;
    }

    .ligne-hori{
        width: 180%;
        height: 2px;
        margin-top: -15%;
        background: #9E91B7;
        margin-left: -85%;
    }

    #grid{
        display: flex;
        flex-wrap: wrap;
        margin-left: 8%;
        justify-content: space-between;
        margin-right: 15%;
        height: 20vh;
        width: 80%;
        margin-top: 0%;
    }

    /* Fin styles page engime */

     /* debut styles pied page */

     footer{
        height: 28vh;
        width: 100%;
    }
    .foot{
        width: 100%;
        /* margin-left: -4px; */
        margin-top: -25%;
    }
    .foot{
        grid-template-columns: 30% 80%;
    }

    .pied-page{
        display: grid;
        grid-template-columns: 35% 75%;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 5%;
        
    }
    .pied img{
        width: 30%;
        margin-top: 20%;
        margin-left: 52%;
    }
    .pied-contenu{
        padding: 5px;
        margin: 0 auto;
        width: 70%;
        margin-left: 8%;
        margin-right: 0%;
    }
    .grid-pied{
        width: 75%;
        grid-template-rows: 45% 25%;
    }
    .rs{
        height: 15%;
    }
    
    .rs:nth-of-type(2){
        margin-top: 25%;
        width: 100%;
        margin-left: -45%;
    }
    .espace{
        letter-spacing: 43px;
    }
    .pied-contenu p{
        font-size: 6px;
    }

    .foot-item{
        width: 61%;
        height:auto;
        text-align: center;
        margin-top: 20%;
        background: greenyellow;
    }

    /* ------------------------Styles icon réseaux sociaux ------------------------ */
    /* ----------------------Styles sur image cercle ----*/

.sous-image{
    position: relative;
    margin-top: -82%;
    margin-left: -42%;
}

.sous-image img{
    width: 28%;
}
/*  */

/* ---------------------Styles largeur icones réseau sociaux---------------------- */
.foot-item{
    position: absolute;
    width: 61%;
    text-align: center;
    top: 80%;
    background: greenyellow;
}


.foot-icon ul{
    width: 75%;
}

/* ---------------------Styles sur icon footer-----------------------------------  */
.foot-icon img{
    width: 100px;
    height: auto;
    text-align: center;
    padding-left: 0%;
    padding-right: 0%;  
}
    .foot-icon{
        width: 80%;
        margin-left: 28%;
    }
    .foot-icon img{
        width: 68%;
        height: auto;
        text-align: center;
        padding-left: 0%;
        margin-left: 0%;
        padding-right: 2%;
        
    }
}

@media only screen and (max-width:600px) and (orientation: landscape){

    
}
